<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sendemaildeployedkhlayel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5fc4e582-6425-46c5-b9c8-9e3e6ae4fca2/resourceGroups/khlayel/providers/Microsoft.Web/sites/sendEmailDeployedKhlayel</ResourceId>
    <UserName>$sendEmailDeployedKhlayel</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sendemaildeployedkhlayel.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>